{{!-- html for each comment added here --}}
<!-- ==================== Displayed Comment ==================== -->
<div class="column is-12 comments">
    {{#each this}}
    <div class="card m-3">
        <header class="card-header has-background-link-light">
            <p class="card-header-title"></p>
        </header>
        <!-- content input -->
        <div class="card-content">
            <p>{{comment_text}}</p>
            <p>{{user.username}} on {{format_date created_at}}/p>
        </div>
    </div>
    {{/each}}
</div>