{{!-- WHEN I visit the site for the first time
THEN I am presented with the homepage, which includes 
existing blog posts if any have been posted; 
navigation links for the homepage and the dashboard;
and the option to log in --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <div>
        <header>
            <nav class="navbar is-link is-fixed-top">
                <!-- nav title-->
                <div class="navbar-brand">
                    <a class="navbar-item is-size-4">Metayuck Tech Blog</a>
                </div>
                <!-- navigation menu-->
                <div class="navbar-menu">
                    <div class="navbar-end">
                        {{#if userLoggedIn}} 
                        <!-- Home button -->
                        <a class="navbar-item" href="#home">Home</a>
                        <!-- Dashboard button -->
                        <a class="navbar-item" href="#dashboard">Dashboard</a>
                        <!-- Logout button -->
                        <a class="navbar-item" href="#logout">Logout</a>
                        {{else}}
                        <!-- Login button -->
                        <a class="navbar-item" href="#login">Login</a>
                        {{/if}}
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>
    {{!-- use logout in js file if user is logged in so user can logout if needed--}}
    {{#if userLoggedIn}}
    <script scr="public/javascript/logout.js"
    {{/if}}
</body>
</html>