<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>

<body>

    {{!-- div to act as a wrapper --}}
    <div> 
        {{!-- Navbar with Title and Menu where login & logout buttons are rendered conditionally --}}
        <header>
            <nav class="navbar is-link is-fixed-top">
                <!-- nav title-->
                <div class="navbar-brand">
                    <a class="navbar-item is-size-4">Metayuck Tech Blog</a>
                </div>
                <!-- navigation menu-->
                <div class="navbar-menu">
                    <div class="navbar-end">
                        {{!-- if user logged in, logout link should be available --}}
                        {{#if loggedIn}} 
                        <!-- Home link -->
                        <a class="navbar-item" href="/">Home</a>
                        <!-- Dashboard link -->
                        <a class="navbar-item" href="/dashboard">Dashboard</a>
    {{!-- **********************************  --}}
                        <!-- Logout link -->
                        <a class="navbar-item" id="logout" href="#logout">Logout</a>
                        {{!-- not loggin in -> only login link available --}}
                        {{else}}
                        <!-- Login link -->
                        <a class="navbar-item" href="/login">Login</a>
                        {{/if}}
                    </div>
                </div>
            </nav>
        </header>

        {{!-- where main content renders (posts) as html --}}
        <main>
            <section class="section mt-4">
                <div class="columns is-flex-wrap-wrap">
                    {{!-- homepage.hbs inserts here --}}
                    {{{ body }}}
                </div>
            </section>
        </main>

    </div>


    {{!-- if user is logged in, need to make logout fx available --}}
    {{#if loggedIn}}
    <script scr="public/javascript/logout.js"></script>
    {{/if}}
</body>

</html>