
<div class="column is-12">
    <div class="card m-3">
        <header class="card-header has-background-link-light">
            <p class="card-header-title">Login</p>
        </header>

        <!-- username input -->
        <div class="card-content">
            <div class="field">
                <label class="label">Username:</label>
                    <div class="control">
                        {{!-- input is passed to login.js under "username-login" --}}
                        <input class="input" id="username-login" type="text" placeholder="username">
                    </div>
            </div>
        </div>
        <!-- password input -->
        <div class="card-content">
            <div class="field">
                <label class="label">Password: </label>
                <div class="control">
                    {{!-- password input is passed to login.js under the id --}}
                    <input class="input" id="password-login" type="text" placeholder="password">
                </div>
            </div>
        </div>
        <!-- login button -->
        <div class="card-content">
            <div class="field">
                <button class="button is-link" type="submit">Login!</button>
            </div>
        </div>
        <!-- sign up link -->
        <div class="card-content">
            {{!-- link to sign up --}}
            <a class="icon-text has-text-link" href="/signup"> 
                <span>Sign up instead</span>
            </a>
        </div>
    </div>
</div>
{{!-- load in the login.js script --}}
<script src="/public/javascript/login.js"></script>