<!-- ==================== Sign Up ==================== -->
<div class="column is-12" id="signup-form">
    <div class="card m-3">
        <header class="card-header has-background-link-light">
            <p class="card-header-title">Sign Up</p>
        </header>
        <!-- username input -->
        <div class="card-content">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" id="username-signup" type="text" placeholder="username">
                </div>
            </div>
        </div>
        <!-- password input -->
        <div class="card-content">
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" id="password-signup" type="text" placeholder="password">
                </div>
            </div>
        </div>
        <!-- signup button -->
        <div class="card-content">
            <div class="field">
                <button class="button is-link">Sign Up!</button>
            </div>
        </div>
        <!-- login link -->
        <div class="card-content">
            <a class="icon-text has-text-link" href="/signup">
                <span>Login instead</span>
            </a>
        </div>
    </div>
</div>
{{!-- load in the login.js script --}}
<script src="/public/javascript/sign-up.js"></script>